body {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  background-color: #000;
  color: #fff;
  padding: 50px 25px;
  display: flex;
  gap: 50px;
}

.logo {
  width: 180px;
  height: 180px;
  background-color: #fff;
}

.about {
  gap: 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

.contacts {
  width: 100%;
}

@media (max-width: 960px) {
  header {
    flex-wrap: wrap;
  }
  
  .about {
    gap: 20px;
  }
}
