body {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  background-color: #6db4d9;
  padding: 50px 25px;
  display: flex;
  gap: 50px;
}

.logo {
  width: 180px;
  height: 180px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border-color: #000;
  border: 1px solid;
  box-sizing: border-box;
}

.logo > img {
  width: auto;
  height: 100%;
  margin-left: 20px;
}

.about {
  gap: 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

.contacts {
  width: 100%;
}

main {
  column-count: 2;
  column-gap: 10px;
}

.section {
  font-size: 22px;
  padding: 20px 0;
  break-inside: avoid;
}

h3 {
  color: #6db4d9;
  margin: 0;
}

hr {
  border-color: #6db4d9;
}

@media (max-width: 960px) {
  header {
    flex-wrap: wrap;
  }
  
  .about {
    gap: 20px;
  }

  main {
    column-count: 1;
    padding: 10px;
  }
}
