:root {
  --blue-color: #6db4d9;
  --text-color: #000;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(0.75rem, 1vw + 1rem, 1.625rem);
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  background-color: var(--blue-color);
  padding: 50px 25px;
  display: flex;
  gap: 50px;
}

.logo {
  width: 180px;
  height: 180px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border-color: #000;
  border: 1px solid;
  box-sizing: border-box;
}

.logo > img {
  width: auto;
  height: 100%;
  margin-left: 20px;
}

.about {
  gap: 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.contacts__item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
  width: max-content;
}

.contacts__item > img {
  width: 24px;
  height: auto;
}

main {
  column-count: 2;
  column-gap: 10px;
}

.section {
  padding: 10px 0;
  break-inside: avoid;
}

h3 {
  color: var(--blue-color);
  margin: 0;
}

.divider {
  border-top: 2px var(--blue-color) solid;
  margin: 10px 0;
}

p {
  margin: 0;
  padding: 0;
}

p:not(:first-child) {
  text-indent: 1rem;
}

@media (max-width: 960px) {
  header {
    flex-wrap: wrap;
    padding: 20px 5px;
    gap: 10px;
  }

  .logo {
    width: 150px;
    height: 150px;
  }
  
  .about {
    gap: 20px;
  }

  main {
    column-count: 1;
    padding: 0 10px;
  }
}

@media print {
  header {
    border-bottom: 1px black solid;
    background-color: var(--blue-color) !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}